In [37]:
import os, sys
sys.path.append(os.path.split(os.getcwd())[0])

In [38]:
import scripts.collect_data as collect
import scripts.transform_data as transform
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Download and transform data associated with models

|     |     |     |     |     |     |     |     |
|-----|-----|-----|-----|-----|-----|-----|-----|
|Infected |Recovered | Deaths | Population | Temperature | Humidity | Wind Speed | Test Rate |
|IRD[0] | IRD[1] | IRD[2] | pop| THW[0] | THW[1] | THW[2] | test

## Download John's Hopkins Infection, Recovery and Death data

In [39]:
collect.IRD()

Infection, Recovery and Death data saved @ /data/COVID-19/covid19/data/IRD

'/data/COVID-19/covid19/data/IRD'

In [40]:
IRD = transform.IRD(min_confirmed=100, min_recovered=0, min_deaths=0)

## Download weather data using Dark Sky API (max 1000/day)

In [41]:
collect.weather()

100%|██████████| 264/264 [13:13<00:00,  3.01s/it]

Weather data saved @ /data/COVID-19/covid19/data/weather/json/

'/data/COVID-19/covid19/data/weather/json/'

In [42]:
THW = transform.weather(update=True)

100%|██████████| 264/264 [00:20<00:00, 12.64it/s]

Weather data saved @ /data/COVID-19/covid19/data/weather

In [43]:
THW[0]

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,...,10.455833,11.140417,14.014583,12.852083,13.083333,11.259167,11.865833,13.893333,13.997917,14.586250
Albania,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,...,6.099167,5.885833,8.513750,11.061250,11.970000,12.524583,12.906667,13.200833,14.398750,15.447083
Algeria,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,...,23.765000,24.420833,22.214167,21.802500,22.341250,23.265000,24.711250,25.454167,25.868333,27.485000
Andorra,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,...,6.207500,5.969583,5.847917,7.210417,7.164583,8.049583,8.455417,9.774583,9.976667,10.343333
Angola,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,...,23.860417,21.522917,21.160833,21.392500,21.601667,22.343333,22.445417,21.167917,22.607917,20.617500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
France / Saint Pierre and Miquelon,-5.152083,-2.133750,-0.276667,-3.060417,-0.559583,1.756667,-0.192917,-1.829167,-2.558333,-3.030417,...,3.360417,3.341250,2.525000,0.357500,0.003750,0.393333,NaN,NaN,NaN,NaN
South Sudan,26.382917,25.572500,25.743333,27.002083,28.325833,27.887500,26.995000,27.057917,27.706250,28.875833,...,31.995000,33.312500,33.655000,32.891250,30.714167,30.900417,NaN,NaN,NaN,NaN
Western Sahara,14.366250,16.211250,18.001667,18.052500,17.400417,17.236667,20.045000,21.201667,19.498750,18.992917,...,24.073750,24.551667,23.005000,21.618333,23.677500,25.290417,NaN,NaN,NaN,NaN
Sao Tome and Principe,26.849167,27.046250,26.746667,26.637917,26.914167,26.887083,26.918750,27.235833,27.305417,26.985417,...,28.077083,27.659167,27.574167,26.352083,27.465417,27.490833,NaN,NaN,NaN,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Download population data from Worldometer

In [44]:
collect.population()

Population data saved @ /data/COVID-19/covid19/data/population/populations_raw.csv

'/data/COVID-19/covid19/data/population/populations_raw.csv'

In [45]:
pop = transform.population()
len(pop)

Number of unmatched regions : 46
Population data saved @ /data/COVID-19/covid19/data/population/populations.csv

181

In [46]:
pop

                               Population
Australia / New South Wales       8117976
Australia / Queensland            5115451
Australia / South Australia       1756494
Australia / Victoria              6629870
Australia / Western Australia     2630557
...                                   ...
Sierra Leone                      7976983
Malawi                           19129952
South Sudan                      11193725
Western Sahara                     597339
Yemen                            29825964

[181 rows x 1 columns]

## Dowload testing data from Wikipedia (changes daily)

Test data does not have Australia split up. 

It does have Canada split up but using abbreviations.

In [47]:
test_fp = collect.testing()

ValueError: cannot copy sequence with size 7 to array axis with dimension 6

In [ ]:
test = transform.testing()

In [ ]:
test

## Take the intersection of all the DataFrames based on region (in place)

In [51]:
keep = transform.intersect_dfs([test, pop, *THW, *IRD])
len(keep), len(pop)

(63, 63)

# Now all our data in downloaded and transformed into nice DataFrames of the same size

|     |     |     |     |     |     |     |     |
|-----|-----|-----|-----|-----|-----|-----|-----|
|Infected |Recovered | Deaths | Population | Temperature | Humidity | Wind Speed | Test Rate |
|IRD[0] | IRD[1] | IRD[2] | pop| THW[0] | THW[1] | THW[2] | test