In [1]:
import os, sys
sys.path.append(os.path.split(os.getcwd())[0])

In [2]:
import scripts.collect_data as collect
import scripts.transform_data as transform
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Download and transform data associated with models

|     |     |     |     |     |     |     |     |
|-----|-----|-----|-----|-----|-----|-----|-----|
|Infected |Recovered | Deaths | Population | Temperature | Humidity | Wind Speed | Test Rate |
|IRD[0] | IRD[1] | IRD[2] | pop| THW[0] | THW[1] | THW[2] | test

## Download John's Hopkins Infection, Recovery and Death data

In [3]:
collect.IRD()

Infection, Recovery and Death data saved @ /data/COVID-19/covid19/data/IRD

'/data/COVID-19/covid19/data/IRD'

In [4]:
IRD = transform.IRD(min_confirmed=100, min_recovered=10, min_deaths=5)

/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [5]:
IRD[0]

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Albania,0,0,0,0,0,0,0,0,0,0,...,89,104,123,146,174,186,197,212,223,243
Algeria,0,0,0,0,0,0,0,0,0,0,...,201,230,264,302,367,409,454,511,584,716
Andorra,0,0,0,0,0,0,0,0,0,0,...,113,133,164,188,224,267,308,334,370,376
Argentina,0,0,0,0,0,0,0,0,0,0,...,266,301,387,387,502,589,690,745,820,1054
Austria,0,0,0,0,0,0,0,0,0,0,...,3582,4474,5283,5588,6909,7657,8271,8788,9618,10180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Turkey,0,0,0,0,0,0,0,0,0,0,...,1236,1529,1872,2433,3629,5698,7402,9217,10827,13531
Ukraine,0,0,0,0,0,0,0,0,0,0,...,73,73,97,145,196,310,356,475,548,645
United Arab Emirates,0,0,0,0,0,0,0,4,4,4,...,153,198,248,333,333,405,468,570,611,664
United Kingdom,0,0,0,0,0,0,0,0,0,2,...,5683,6650,8077,9529,11658,14543,17089,19522,22141,25150
US,1,1,2,2,5,5,5,5,5,7,...,33276,43847,53740,65778,83836,101657,121478,140886,161807,188172

## Download weather data using Dark Sky API (max 1000/day)

In [6]:
collect.weather()

100%|██████████| 256/256 [00:00<00:00, 583.67it/s]

Weather data saved @ /data/COVID-19/covid19/data/weather/json/

'/data/COVID-19/covid19/data/weather/json/'

In [7]:
THW = transform.weather(update=False)

In [8]:
THW[0]

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,9.908750,...,11.360417,9.908750,9.908750,9.908750,9.908750,9.912917,10.565417,9.917917,9.151250,10.402917
Albania,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,6.367500,...,12.858333,6.367500,6.367500,6.367500,6.367500,6.597083,9.703750,10.900435,12.275000,11.800833
Algeria,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,22.660417,...,21.540000,22.660417,22.660417,22.660417,22.660417,22.838750,21.827500,20.328750,19.546667,22.023333
Andorra,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,5.491667,...,5.610417,5.491667,5.491667,5.491667,5.491667,5.584167,4.810833,5.715652,3.038750,4.783333
Angola,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,22.600833,...,22.600833,22.600833,22.600833,22.600833,22.600833,22.420417,21.690417,20.260833,22.230417,23.409583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Kingdom / Turks and Caicos Islands,24.035417,23.551667,23.882500,23.984583,23.837917,24.183333,24.940833,24.977917,25.446667,25.538333,...,24.475000,24.906667,24.848333,24.861250,24.717500,24.692500,25.165417,25.530417,25.635417,25.592917
MS Zaandam,28.636250,28.636250,28.636250,28.636250,28.636250,28.636250,28.636250,28.636250,28.636250,28.636250,...,28.973333,28.636250,28.636250,28.636250,28.636250,28.572083,28.825833,29.316250,29.075833,29.318333
Botswana,27.222917,28.872500,26.971667,25.944167,27.097083,27.379167,26.554583,26.515000,28.103750,27.222500,...,26.265417,24.426667,23.900833,25.673750,27.245417,26.310833,24.411667,24.613333,26.179167,25.457917
Burundi,19.256250,18.994583,18.074583,19.570000,19.212917,18.670417,16.557500,17.637917,17.890833,18.069583,...,18.615000,17.366667,17.977083,17.629167,18.394583,18.087500,17.595833,17.842917,18.600417,18.856667
Sierra Leone,26.889583,28.720833,28.807500,27.810833,27.696250,27.564583,28.148333,28.722500,28.957083,28.455000,...,29.798333,25.907083,27.632917,26.248750,26.860000,27.345833,28.749167,28.828333,29.320000,30.079167

## Download population data from Worldometer

In [9]:
collect.population()

Population data saved @ /data/COVID-19/covid19/data/population/populations_raw.csv

'/data/COVID-19/covid19/data/population/populations_raw.csv'

In [10]:
pop = transform.population()
len(pop)

Number of unmatched regions : 42
Population data saved @ /data/COVID-19/covid19/data/population/populations.csv

177

In [11]:
pop

                               Population
Australia / New South Wales       8117976
Australia / Queensland            5115451
Australia / South Australia       1756494
Australia / Victoria              6629870
Australia / Western Australia     2630557
...                                   ...
Guinea-Bissau                     1968001
Mali                             20250833
Botswana                          2351627
Burundi                          11890784
Sierra Leone                      7976983

[177 rows x 1 columns]

## Dowload testing data from Wikipedia (changes daily)

In [12]:
test_fp = collect.testing()

Raw Testing data saved @ /data/COVID-19/covid19/data/test_rate/test_rate_raw_2020-04-02.csv

In [13]:
test = transform.testing()

In [14]:
test

,Tests,Positive,As of,Test Rate,Positive Rate
Country/Region,,,,,
Argentina,4843,966,3/31/20,0.000107,1.990
Armenia,3275,571,4/1/20,0.001110,0.810
Australia,258290,4862,4/1/20,0.010169,0.190
Austria,55863,10482,3/31/20,0.005880,1.910
Azerbaijan,30000,273,3/30/20,0.003031,0.090
...,...,...,...,...,...
United Arab Emirates,220000,570,3/29/20,0.022918,0.026
United Kingdom,152979,29474,4/1/20,0.002120,1.760
United States (unofficial),1209647,210770,4/1/20,0.003685,1.740
Uruguay,1538,189,3/24/20,0.000443,1.230
Vietnam,67456,218,4/1/20,0.000701,0.034

## Take the intersection of all the DataFrames based on region (in place)

In [15]:
keep = transform.intersect_dfs([test, pop, *THW, *IRD])
len(keep), len(pop)

(44, 44)

# Now all our data in downloaded and transformed into nice DataFrames of the same size

|     |     |     |     |     |     |     |     |
|-----|-----|-----|-----|-----|-----|-----|-----|
|Infected |Recovered | Deaths | Population | Temperature | Humidity | Wind Speed | Test Rate |
|IRD[0] | IRD[1] | IRD[2] | pop| THW[0] | THW[1] | THW[2] | test